.app_dark_theme {
    --bg-color: #0d1117;
    --inverted-bg-color: #d0d7de;
    --primary-color: #58a6ff;
    --secondary-color: #c9d1d9;
    --inverted-primary-color: #0969da;
    --inverted-secondary-color: #0d1117;
}
